body {
    text-align: center;
    background-image: url("Blackjack.jpg");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h1 {
    color:goldenrod;
}
p {
    text-align: center;
    font-size: 20px;
    color: white;
}
button {
    color: whitesmoke;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    background: goldenrod;
    border:none;
    border-radius: 2px;
    margin: 5px;
}
